h1{
    text-align: center;
}


.panel-heading{
    background-color: #ff0;
}
.panel-body{
    background-color:rgb(163, 174, 236); 
}

.jumbotron {
    background-color: rgba(238, 20, 20, 0.918);
    color: #fff;
  }
.well {
    border: 0;
    margin: auto;
    text-align: center;
  }
  .activeUser {
    background-color: green;
  }